.fbx-modal .FotomotoToolbarClass {
	padding: 10px 20px;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	position: absolute;
	z-index: 100003;
	background: rgba(0,0,0,.7) none;
	width:100% !important;
	top:0;
	color:#eee;
}

.fbx-modal .FotomotoToolbarClass a {
	color:#fff;
}

.fbx-modal .FotomotoBarLink:hover {
	color:#eee;
}

.fbx-modal.fbx-fotomoto-bottom .FotomotoToolbarClass {
	top: auto;
	bottom: 0;
}

.fm-simplemodal-container {
	z-index:9000099 !important;
}